/* CartLink.css */

.CartLink {
  display: flex;
  align-items: center;
}

.CartLink a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  margin-left:1200px ;
  
}

.CartLink a:hover {
  color: #666;

}

.CartLink span {
  margin-left: 5px;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
}
