.ProductList .Product{
  display: flex;
  flex-direction: column;
  max-width: 150px;

  
}
.ProductList{
  margin-top: 200px;
}
.ProductList img{
  margin-top: -130px;
}
.ProductList .Product img{
  border-radius: 150px;

}

.ProductList{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.ProductList span{

  color: black;
}

