.ProductList .Product{
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
.ProductList .Product img{
  width: 100%;
  
}
.ProductList{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}