.ProductList .Product{
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
.ProductList .Product img{
  width: 100%;
  
}
.ProductList{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.ProductList span{
  background-color: rgb(39, 58, 58);
  color: blanchedalmond;
}
.ProductList .AddToCart{
background-color: rgb(144, 175, 175);

}


