.CartList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CartItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.CartItem img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.CartItem a {
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.CartItem input[type="number"] {
  width: 50px;
  margin-right: 10px;
}

.CartItem span {
  font-weight: bold;
  margin-right: 10px;
}

.CartItem button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.CartItem button:hover {
  background-color: #555;
}