
.CartItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.CartItem img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.Card-content {
  display: flex;
  align-items: center;
}

.Card-content a {
  margin-right: 10px;
}

.Card-content input {
  width: 50px;
  margin-right: 10px;
}

.CartList {
  margin-top: 20px;
border-style: groove;
border: 80px;
border-color:blueviolet;
transition: 8s;
}

