


.Layout {
  display: grid;
  grid-template-areas: "header header"
                       "aside main"
                       "footer footer";
  grid-template-columns: 1fr 3fr;

  /* max-width: 989px; */
  
}
.Layout header {
  grid-area: header;
  
}
.Layout aside {
  grid-area: aside;
}
.Layout main {
  grid-area: main;

}
.Layout footer {
  grid-area: footer;
 

}

.Layout .logo {
  max-width: 100px;

}
/* aside {
  margin-left: 90px;
  width: 200px;

} */
.CategoryList li {
  margin: 25px 0px;
}
/* aside {
 margin-top: -150px;
  padding: 1em 2rem;
  width: 250px;
  margin: 20px 0;
  height: 50vh;
  font-size: 200%;

} */
aside {
  background-color: #eeeeee;
  /* padding: 1rem; */
  border: 2px solid #696969;
  border-radius: 10px;
  margin: 0px 10px;
  height: 80vh;
  width: 250px;
  max-width: 100%;
  text-align: left;
}

.Layout{
background-image: url(../../assets/1619339135_32-phonoteka_org-p-fon-dlya-prezentatsii-po-detskoi-literatur-36.jpg);
position: absolute;
width: 100%;
height: 120%;


}

