@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Fasthand&family=Fragment+Mono:ital@1&family=Freehand&family=Lora:ital,wght@0,400;1,500;1,600&family=Nerko+One&family=Open+Sans:ital,wght@0,700;1,500&family=Roboto:ital,wght@0,400;1,900&family=Unbounded:wght@300&family=Ysabeau:ital,wght@0,1;1,1&family=Zen+Dots&display=swap');
.Contact {
  text-align: center;

}

.Contact h4 {
  font-size: 20px;
  margin-bottom: 10px;
 
}

.Contact h5 {
  font-size: 16px;
  margin-bottom: 20px;
  margin-left:240px;

  margin-top: -35px;
}

.Contact h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
