/* Footer.css */

.footer {
  box-shadow: 0 0 10px #900e0e;
  padding: 40px 10px;
  background-color: rgb(212, 196, 102);
  color: #ffffff;
  margin-top: 1rem;
}
.footer title{
  width: 300px;
}

.footer section{
  display: flex;
  
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-column {
  flex-basis: 25%;
  margin-bottom: 40px;
}



.footer-heading {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.footer-contact-list {
  list-style-type: none;
  padding: 0;
}

.footer-social-list {
  list-style-type: none;
  padding: 0;

  font-size: 15px;
}

.footer-social-item {
  margin-right: 10px;

}

.footer-bottom {
  background-color: #3a1919;
  color: #e7e7e7;
  padding: 10px;
  text-align: center;

}

.footer-bottom-text {
  font-size:15px;
  
}



.fab {
  font-size: 20px;
  color: #300404;

}

.fab:hover {
  color: #871e1e;
}

/* @media screen and (max-width: 768px) {
  .footer-column {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 576px) {
  .footer-column {
    flex-basis: 100%;
  }
} */