.footer section{
  display: flex;
  justify-content: flex-start;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.footer-column {
  flex-basis: 25%;
  margin-bottom: 40px;
  text-align: center;
}

.footer-column a {
  text-decoration: none;
  color: #000000;
}
.Footer h3 {
  margin-top: 0;
}
.Footer .txtAbout {
  width: 50%;
}
.Footer .QuickLinks {
  width: 25%;
  text-align: center;
}
.Footer .QuickLinks ul {
  padding: 0;
}


.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-bottom: 10px;
  font-size: 16px;
}



.network-icons .bi {
  width: 40px;
  height: 40px;
  color: #fff;
}

.footer-list li:hover {
  cursor: pointer;
  color: rgb(168, 87, 56);
}

.footer-column a:hover {
  color: rgb(168, 87, 56);
}

.network-icons .bi:hover {
  cursor: pointer;
  color: rgb(168, 87, 56);
}



.footer .footer-column .network-icons svg {
  transition: 0.9s;
  border-radius: 10px;
}
.footer .footer-column .network-icons svg:hover {
  fill: rgb(0, 0, 0);
  background-color: rgb(255, 253, 253);
}
.footer-title {
  font-size: 1.5em;
}

.footer-social-item {
  font-size: 2em;
}
