@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,200&family=Bokor&family=Fasthand&family=Fragment+Mono:ital@1&family=Freehand&family=Josefin+Sans:ital,wght@1,400;1,600&family=Lora:ital,wght@0,400;1,500;1,600&family=Nerko+One&family=Open+Sans:ital,wght@0,700;1,500&family=PT+Serif:ital,wght@0,700;1,400&family=Roboto+Slab:wght@300;500&family=Roboto:ital,wght@0,400;1,900&family=Unbounded:wght@300&family=Ysabeau:ital,wght@0,1;1,1&display=swap');

.CategoryList {
  max-width: 100%;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #81bdd2;
  border-radius: 10px;
  font-size: 24px;
}

.CategoryList h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Barlow', sans-serif;
font-size: 29px;
}

.CategoryList ul {
  list-style-type: none;
  padding: 0;
}

.CategoryList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.CategoryList li:last-child {
  border-bottom: none;
}

.CategoryList a {
  text-decoration: none;
  color: #333;
}

.CategoryList a:hover {
  color: #254655;
}

.CategoryList button {
  padding: 5px 10px;
  background-color: #333;
  color: #533838;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.CategoryList button:hover {
  background-color: #7c4c4c;
}
