@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Fasthand&family=Fragment+Mono:ital@1&family=Freehand&family=Nerko+One&family=Roboto:ital,wght@0,400;1,900&family=Unbounded:wght@300&family=Zen+Dots&display=swap');
.CategoryList ul li{
  list-style-type: none;
};

.CategoryList a{
  text-decoration: none;
  color: black;
  border-left:2px solid #441d1d ;
  padding-left: 5px;


  transition: all 0.2s ease;

  
}
.CategoryList a:hover {
  border-left:3px solid #d81b4d ;
  padding-left: 5px;
  transition: all 0.2s ease;
}
.CategoryList li{
  margin: 30px 0;
  background-color: #441d1d;
  


}
.CategoryList{
  background: rgba(148, 138, 138, 0.5);
  padding: 10px 20px;
  margin-top: 50px;
}
.CategoryList h3 span{
  color: rgb(175, 8, 108);

 

}
.CategoryList h3 {
  color: rgb(72, 56, 56);
  font-size: 25px;
 

}
.CategoryList h1{
  flex-wrap: wrap;
  display: flex; 
  
}
.CategoryList ul{
  margin-top: -150px;
}



