
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.Nav .NavItem a {
  color: rgb(254, 251, 251);
  vertical-align: middle;
  display: table-cell;
  font-family: 'Playfair Display', serif;


}
.ul { 
  display: flex;
  justify-content: center;
  position: relative;
  height: 53px;
 
}
.NavMonth{
 background-color: rgb(92, 128, 128);
  margin-top: -174px;
padding: 80px ;



}
.Nav ul{
  margin-top: -80px;
 

}
.NavItem {
  padding: 5px 60px;
  text-transform: uppercase;
  

}