@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.Nav .NavItem a {
  color: rgb(0, 0, 0);
  display: flex;
   font-size: 25px;
  font-family: "Playfair Display", serif;

}

.ul {
  display: flex;
  justify-content: center;
  position: relative;
  height: 70px;
}

.Nav ul {
  margin-top: -10px;
  font-size: 30px;

  color: #892d2d;
  font-weight: 700;
  background: none;
  border: 0;
  cursor: pointer;
  transition: 0.10s;
  padding: 0 5px;

}
.NavItem {
  padding: 5px 60px;
  
}
.NavItem a:hover {
  text-transform: lowercase;
  color: #651212;
}
.NavItem {
  list-style: none;
}
.Nav div{
  font-size: 100px;
}
