button { 
  cursor: pointer; 
} 
.Auth .S-Out-Btn { 
  background-color: rgb(171, 33, 33); 
} 
.Auth .Btn-s { 
  justify-content: space-between; 
  display: flex; 
} 
 
.img-container img { 
  width: 50px; 
  border-radius: 25px; 
  display: flex; 
  cursor: pointer; 
} 
 
.LogOut-img img { 
  width: 50px; 
  border-radius: 25px; 
  cursor: pointer; 
} 
 
.img-container { 
  position: relative; 
padding-left: 1 0px;
margin-top: 25px;
} 
 
.img-menu { 
  opacity: 0; 
  visibility: hidden; 
  position: absolute; 
  top: 100%; 
  left: -30px; 
  background-color: #666666; 
  padding: 10px; 
  border: 1px solid rgb(141, 116, 116); 
  transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s; 
} 
 
.img-menu p { 
  color: #322626; 
  cursor: pointer; 
} 
 
.img-container:hover .img-menu { 
  opacity: 1; 
  visibility: visible; 
  transition-delay: 0s; 
} 
.LogOut-img img { 
  filter: invert(0); 
} 
.LogOut-img img:hover { 
  filter: drop-shadow(2px 4px 6px black); 
} 
.LogOut-img img:focus { 
  filter: invert(0); 
}
