.Auth span {
  display: flex;
  align-items: center;
}
.Auth .Sign {
  background-color: rgb(138, 133, 132);
  border-radius: 6px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  margin-left: 5px;
  padding: 5px 8px;
}
.Auth .photoURL {
  border-radius: 100%;
  width: 30px;
}